h1{
  color: blue;
  padding: 100px;
}
.Name{
  display: flex;
  justify-content: center;
  align-items: center;
}
h1:hover{
  color: brown;
}

.Adresse{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Photo{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
body{
  background-image: url(./hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg);
}
.App-image{
  border-radius: 50%;
}